html,
body {
    overflow-y: hidden;
}

body,
.title-v1 p,
.ep-tools-login,
.ep-tools-right,
.search-label,
.counters h3 {
    font-size: 1.3em;
}

.arches-signin .panel-footer,
.password-rule,
.rp-no-data,
.graph-designer-tab-container .nav-tabs > li:not(.active) > a,
.crud-card-subtitle {
    color: var(--color-charcoal);
}

.arches-signin {
    .panel-footer {
        a {
            color: var(--link-signin-panel-footer);
        }
    }
}

.profile-label-shim,
.profile-default-message-panel,
.search-listing-body,
.account-tips,
.hover-feature-metadata,
.pagination > li > a.disabled,
.graph-designer-header,
.graph-type {
    color: var(--color-zambezi);
}

.workbench-card-sidebar-tab {
    color: var(--color-matterhorn);
}

.hover-feature-metadata span,
.search-candidate-title,
.search-candidate-link {
    color: var(--color-matisse);
}

.jstree-default .func-node:not(.jstree-clicked),
.map-data-drop-area,
.workbench-card-sidebar-tab,
::placeholder,
.rr-splash-description,
.search-export .instruction h4,
.report-print-date,
.resource-tools a.resource-grid-title,
.graph-find,
.map-manager-container .category-title,
.map-manager-container .service-url,
.map-service-nav-tabs .nav-tabs>li.active>a,
.map-service-nav-tabs .nav-tabs>li.active>a:focus,
.map-service-nav-tabs .nav-tabs>li.active>a:hover {
    color: var(--color-black) !important;
}

.arches-toggle-subtitle {
    color: var(--color-chambray);
}

a:focus,
button:focus,
input:focus,
textarea:focus,
.form-control:focus,
i.report-expander:focus,
.select-icon:focus,
.chosen-container-active,
.select2-container-active,
.workbench-card-sidepanel-header:focus,
.sp-header-alerts:focus,
.timeline-entry:focus,
.rr-splash-help-link:focus,
.tabbed-report-tab-list li:focus,
.jstree-icon:focus {
    outline: var(--color-black) solid 3px !important;
}

.resource-grid-main {
	&.mpm-manager {
		.mpm-title {
			width: calc(100% - 55px);
		}
	}
}

div.search-facet-item:focus {
    box-shadow: inset 0 0 0 3px var(--color-black);
    outline: none;
}

.resource_search_widget_dropdown {
    ul {
        .select2-disabled {
            div {
                span {
                    span {
                        button {
                            width: auto;
                        }
                    }
                }
            }
            .group {
                width: auto;
            }
        } 
    }
}

.popup-panel-row {
    padding: 4px;
    height: 50px;
    float: right;
    display: block;
}

.search-results-panel {
    max-width: 40%;
    .search-inline-filters div {
        padding-left: 2px;
        margin-bottom: 2px;
        display: inline-block;
    }
    .search-tools-container {
        width: 100%;
    }
    .search-results-container {
        overflow-y: auto;
        width: 100%;
        .search-listing {
            width: 100%;
        }
        .search-footer {
            width: 100%;
            position: relative;
            background: inherit;
        }
    }
}

.search-map-container {
    .search-toolbar {
        position: absolute;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: normal;
        align-items: normal;
        align-content: normal;
        width: 60%;
        .search-type-btn-panel,
        .search-type-btn-popup-panel {
            position: relative;
            display: block;
            flex-grow: 1;
            flex-basis: auto;
            align-self: auto;
            order: 0;
        }
    }
    div {
        &.flex {
            margin-top: 50px;
            .search-popup-panel {
                overflow-y: auto;
                overflow-x: hidden;
                width: auto;
                max-width: 400px;
                .saved-search-grid {
                    overflow-y: auto;
                }
            }
        }
    }
}

.card-form-preview-container {
    overflow-y: auto;
    .workbench-card-container {
        width: calc(100% - 75px);
        .mapboxgl-ctrl-geocoder {
            margin-right: 10px;
        }
    }
}

.ep-toolbar {
    .top-right-nav {
        margin-right: 0;
        .ep-tools {
            white-space: nowrap;
            &.ep-tools-login {
                padding-right: 16px;
            }
            &.ep-tools-right {
                padding-right: 16px;
                min-width: 50px;
                max-width: inherit;
            }
        }
    }
}

.ep-notifs {
    width: 50vw;
    .grid-list {
        &.provisional-edit-history {
            height: calc(100vh - 50px);
            overflow-y: auto;
        }
    }
}

.ep-edits {
    .grid-list {
        &.provisional-edit-history {
            height: calc(100vh - 50px);
            overflow-y: auto;
        }
    }
}

.ep-help {
    width: 50vw;
}

.resource-component-abstract-container {
	&.is-summary {
		height: calc(100vh - 100px);
	}
	.resource-component-abstract {
		overflow-y: auto;
		height: calc(100vh - 100px);
		.rp-report-section-title {
			padding-left: 0;
		}
	}
}

.card-component-panel {
    .card-component {
        .is-function-node {
            color: var(--color-cyprus);
        }
    }
}

.edtf-style-tools-collapser {
    left: auto;
    right: 0;
}

.recent-edits-container,
.profile-summary-page {
    height: calc(100vh - 50px);
    overflow-y: auto;
}

.profile-summary-page {
    overflow-x: hidden;
}

.graph-designer-tab-container .nav-tabs > li.active > a {
    background: var(--color-zambezi);
    color: var(--color-white);
}

.function-manager-container {
    .list-wrapper {
        overflow-x: hidden;
    }
}

.map-manager-container {
    .left-column-crud-container {
        flex: 0 0 37vw;
        .grid {
            overflow-y: auto;
            overflow-x: hidden;
            .library-card {
                height: auto;
                min-height: 60px;
                .crud-card-main {
                    position: relative;
                    left: auto;
                    top: auto;
                    height: auto;
                    white-space: normal;
                    margin-left: 55px;
                    margin-top: 7px;
                    width: auto;
                }
                .crud-card-subtitle {
                    position: relative;
                    left: auto;
                    top: auto;
                    margin-left: 55px;
                }
            }
        }
    }
}
