:root {
    --btn-standard: #2b4e6d;
    --btn-file-select: #4824ff;
    --btn-file-upload: #10599e;
    --btn-focus-outline: #006600;
    --btn-warning : #943725;
    --btn-u: #3d588a;
    --btn-u-default: #4d5b5b;
    --btn-search: #545454;
    --btn-manage: #4138e0;
    --btn-feature: #2f5879;
    --link-signin-panel-footer: #2c5271;
    --link-change-password: #1b4f7d;
    --link-regular: #1f496e;
    --link-crud-card: #17568c;
    --color-charcoal: #494949;
    --color-zambezi: #595959;
    --color-matterhorn: #4f4f4f;
    --color-matisse: #315b7d;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-chambray: #465b72;
    --color-cyprus: #014c44;
    --color-poloblue: #91a5cf;
    --color-malachite: #13ce67;
    --color-deepteal: #15503f;
    --color-orient: #184e6c;
    --border-lt: #d8d8d8;
 }
 